<% content_for :title do %>Edit Account<% end %>
<br><br>

<% if current_user.superadmin_role == TRUE || current_user.supervisor_role == TRUE %>

<h1>Editing Tenant</h1>

<%= render 'form', tenant: @tenant %>
<a href="javascript:history.back()">Back</a>

<% else %>

<%= link_to 'Book an appointment', new_appointment_path %>

<% end %>