<% content_for :title do %>Edit Account<% end %>
<br><br>

<% if current_user.superadmin_role == TRUE || current_user.supervisor_role == TRUE %>
    <h1>Editing Tenant</h1>
    <%= render 'form', tenant: @tenant %>
    <button onclick="backFunction()">Back</button><br>
<% else %>
    <%= link_to 'Book an appointment to ' + @tenant.company_name , new_appointment_path %>
<% end %>

<script>

window.onbeforeunload = function(e) {
    return true;
};

function backFunction() {
    <% if current_user.superadmin_role == TRUE %>
        location.href = "/tenants";
    <% else %>
        location.href = "/appointments";
    <% end %>
};

</script>