<br><br>

<% if current_user.superadmin_role == TRUE ||  current_user.supervisor_role == TRUE %>

<h1>Editing Schedule</h1>
<br>

<%= render 'form2', schedule: @schedule %>

<% else %>

  <%= link_to 'Book an appointment ', new_schedule_path %>

<% end %>