<p id="notice"><%= notice %></p>
<br><br>

<% if @account.slug == "admin" %>

    <h1>Go to specific slug!</h1>    

<% else %>

    <h1><%= @account.name %> page</h1><br>
    <h1>BOOK AN APPOINTMENT NOW! </h1><br>
    <%= render 'form', schedule: @schedule %>

<% end %>