*
{
    box-sizing: border-box;
}
body {
    background: #fefefe;
    text-align: center;
    color: #444444;
    font-family:sans-serif;
}

nav {
  height: 64px;
  padding: 0 32px;
  border-bottom: 1px solid #4338ca;
  text-align: left;
  box-shadow: 0 0 4px #4338ca99;
}
nav ul {
    margin: 0;
    padding: 0;
}
.button {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 8px;
    padding: 0 32px;
    display: block;
    height: 100%;
    min-width:9px;
    line-height: 64px;
    box-shadow: 0 0 4px #C24032;
    transition: box-shadow .2s linear;
}
nav ul li, .radio > .button {
    display: inline-block;
    vertical-align:top;
}

.add
{
    transition: box-shadow .2s linear, margin .3s linear .5s;
}
.add.active
{
    margin:0 98px;
    transition: box-shadow .2s linear, margin .3s linear;
}
.button:link
{
    color: #eee;
    text-decoration: none;
}
.button:visited
{
    color: #eee;
}
.button:hover
{
    box-shadow:none;
}
.button:active,
.button.active {
    color: #eee;
    border-color: #C24032;
    box-shadow: 0 0 4px #C24032 inset;
}
nav ul li a:active {
    color: #eee;
}
nav ul li a.active {
    color: #eee;
}
.dialog {
    position: relative;
    text-align: center;
    background: #4478a0;
    margin: 13px 0 4px 4px;
    display: inline-block;
    width: 256px;
    box-shadow: 0 0 8px rgba(68, 140, 160, 0.5);
}
.dialog:after,
.dialog:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.dialog:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #5C9CCE;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
}
.dialog:before {
    border-color: rgba(170, 170, 170, 0);
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
}
.dialog .title {
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-width: 0 0 1px 0;
    margin: 8px 0 4px;
    padding: 8px 16px;
    background: #5C9CCE;
    box-shadow: 0 1px 4px rgba(68, 120, 160, 0.1);
    font-size: 16px;
    line-height:2em;
}
.dialog .title:first-child {
    margin-top: -4px;
}
.alert, #error_explanation {
  padding: 15px 25px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  max-width: 400px;
  position: fixed;
  right: 20px;
    top: 80px;
  animation: fadein 500ms;
  -moz-animation: fadein 500ms; /* Firefox */
  -webkit-animation: fadein 500ms; /* Safari and Chrome */
  -o-animation: fadein 500ms; /* Opera */
}

.alert-login {
    padding: 15px 25px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    max-width: 400px;
    position: absolute;
    right: 50px;
    top: 80px;
    margin-left: auto;
    animation: fadein 500ms;
    -moz-animation: fadein 500ms;
    -webkit-animation: fadein 500ms;
    -o-animation: fadein 500ms;
}

.alert_default, #error_explanation {
  color: #565656;
  background-color: #ffffff;
  border-color: #ffffff;
}

.flash_close_btn{
 float: right;
 position: relative;
 bottom: 15px;
 color: #7d7d7d;
 left: 8px;
 font-size: 15px;
}

.closeBtn {
  position: absolute;
  right: 8px;
  top: 0;
  cursor: pointer;
}


@keyframes fadein {
 from {
     opacity:0;
 }
 to {
     opacity:1;
 }
}
@-moz-keyframes fadein { /* Firefox */
   from {
       opacity:0;
   }
   to {
       opacity:1;
   }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
   from {
       opacity:0;
   }
   to {
       opacity:1;
   }
}
@-o-keyframes fadein { /* Opera */
   from {
       opacity:0;
   }
   to {
       opacity: 1;
   }
}
