<%= stylesheet_link_tag "appointments" %>

<nav>
    <ul>
        <li>
            <a href="#" class="button add">+</a>
            <div class="dialog" style="display:none">
                <div class="title">Add Event</div>
                <form action="addevent.php" method="post">
                    <select name="type">
                        <option value="a">Appointment</option>
                        <option value="a">Block</option>
                    </select>
                    <input name="start_dtm" type="datetime-local"/>
                    <input name="duration" type="time"/>
                    <input name="name" type="text" placeholder="Name"/>
                    <input name="location" type="text" placeholder="Location"/>
                    <textarea name="description" placeholder="Description" cols="30" rows="10" wrap="soft"></textarea>
                    <input type="submit" value="Ok"/>
                </form>
            </div>
        </li>
        <li class="radio">
            <a href="#" class="button active">Day</a>

            <a href="#" class="button">Week</a>

            <a href="#" class="button">Month</a>
        </li>
    </ul>
</div>
        </nav>
<p>Click the '+'!</p>


<script>
$(document).ready( function() {

    $('.add').click(function(e){
        e.stopPropagation();
        if ($(this).hasClass('active')){
            $('.dialog').fadeOut(200);
            $(this).removeClass('active');
        } else {
            $('.dialog').delay(300).fadeIn(200);
            $(this).addClass('active');
        }
    });
    $('.radio > .button').click( function() {
        $('.radio').find('.button.active').removeClass('active');
        $(this).addClass('active');
    });

    function closeMenu(){
        $('.dialog').fadeOut(200);
        $('.add').removeClass('active');
    }

    $(document.body).click( function(e) {
        closeMenu();
    });

    $(".dialog").click( function(e) {
        e.stopPropagation();
    });
    $(document).ready( function() {

        $('.add').click(function(e){
            e.stopPropagation();
            if ($(this).hasClass('active')){
                $('.dialog').fadeOut(200);
                $(this).removeClass('active');
            } else {
                $('.dialog').delay(300).fadeIn(200);
                $(this).addClass('active');
            }
        });
        $('.radio > .button').click( function() {
            $('.radio').find('.button.active').removeClass('active');
            $(this).addClass('active');
        });

        function closeMenu(){
            $('.dialog').fadeOut(200);
            $('.add').removeClass('active');
        }

        $(document.body).click( function(e) {
            closeMenu();
        });

        $(".dialog").click( function(e) {
            e.stopPropagation();
        });
    });
});
</script>