<% content_for :title do %>Edit Appointment<% end %>
    
<% if current_user.superadmin_role == TRUE ||  current_user.supervisor_role == TRUE %>
    
    <h1>Editing Appointment</h1>
    <br>
        
    <%= render 'form2', appointment: @appointment %>
    
<% else %>
    
      <%= link_to 'Book an appointment to ' + @tenant.company_name , new_appointment_path %>
    
<% end %>