<% content_for :title do %>Book Now!<% end %>
<p id="notice"><%= notice %></p>
<br>

<% if @tenant.url == "admin" %>
    
    <h1>Go to specific slug of the Company</h1>
    
<% else %>
    
    <h1><%= @tenant.company_name %> page</h1><br>
    <h1>BOOK AN APPOINTMENT NOW! </h1><br>
    <%= render 'form', appointment: @appointment %>
    
<% end %>
    