<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn<p>We&apos;re contacting you to notify you that your password has been changed.</p>t request this, please ignore this email.</p>
<p>Your password won<p>We&apos;re contacting you to notify you that your password has been changed.</p>t change until you access the link above and create a new one.</p>
