<p>This page will be the view page for admin, supervisor and user</p>
<br><br>
<a href="/schedules">schedules</a>
<br><br>
<a href="/accounts">accounts</a>
<br><br>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>