<% content_for :title do %>Create New Account<% end %>
<% if current_user.superadmin_role == TRUE %>

    <br><br>
    <h1>Create New Account</h1><br>
    <%= render 'form', account: @account %>
    <a href="javascript:history.back()">Back</a>

<% else %>

    <br><br>
    <%= link_to 'Book an appointment', new_schedule_path %>

<% end %>