<% if current_user.superadmin_role == TRUE %>

    <h1>New Account</h1>

    <%= render 'form', account: @account %>

    <%= link_to 'Back', accounts_path %>

<% else %>

    <br><br>
    <%= link_to 'Book an appointment', new_schedule_path %>

<% end %>