<% if current_user.superadmin_role == TRUE %>

    <br><br>
    <h1>Create New Account</h1><br>
    <%= render 'form', account: @account %>
    <%= link_to 'Back', accounts_path %>

<% else %>

    <br><br>
    <%= link_to 'Book an appointment', new_schedule_path %>

<% end %>